extends layout.pug

block content
  body
    h2 New Book
    form
    if errors
      h4.alert.alert-danger Oooops! Errors returned!
      ul.alert
      each error in errors
        li.danger= error.message
    else
      h5= error.message
    br
    a.btn.btn-warning(href= path) Return