extends layout.pug

block content
  body
    h1 New Book
    form
    if errors
      h4.error Oooops! Errors returned!
      ul.error
      each error in errors
        li= error.message
    else
      h5= error.message
    br
    a.button(href= path) Return