extends layout.pug

block content
  body
    h6.m-3.row Welcome to Library Manager
    .card-group
      .card
        .card-header Books
        ul.list-unstyled.pl-4.pt-2
          li
            a.text-success(href='/books/new') New Book
          li
            a.text-success(href='/books') List All
          li
            a.text-success(href='/books/overdue') List Overdue
          li
            a.text-success(href='/books/checked_out') List Checked Out
      .card
        .card-header Patrons
        ul.list-unstyled.pl-4.pt-2
          li
            a.text-success(href='/patrons/new') New Patron
          li
            a.text-success(href='/patrons') List All
      .card
        .card-header Loans
        ul.list-unstyled.pl-4.pt-2
          li
            a.text-success(href='/loans/new') New Loan
          li
            a.text-success(href='/loans') List All
          li
            a.text-success(href='/loans/overdue') List Overdue
          li
            a.text-success(href='/loans/checked_out') List Checked Out
