doctype html
head
  title= pageTitle
  link(rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous")

nav.navbar.navbar-expand-lg.navbar-dark.bg-info
  .container
    h2.navbar-brand(href='#') Library Manager
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='/')
          | Home 
      li.nav-item
        a.nav-link(href='/books') Books
      li.nav-item
        a.nav-link(href='/patrons') Patrons
      li.nav-item
        a.nav-link(href='/loans') Loans
    form.form-inline.my-2.my-lg-0
      .input-group
        input#search.form-control(type='search', name='search', placeholder='Search book ...', aria-label='Search')
        button.btn.btn-success.input-group-addon(type='button', onclick='searchBook()') Search
  script(src='../javascripts/main.js')
.container
  block content