extends layout.pug

block content
  body
    h2.mt-3.mb-3 New Loan

    form.was-validated(action='/loans/', method='post')
      p.form-group
        label.mr-1(for='book_id') Book: 
        select#book_id.form-control(name='book_id')
          each book, index in books
            option(value= book.id)= book.title

      p.form-group
        label(for='patron_id') Patron
        select#patron_id.form-control(name='patron_id')
          each patron, index in patrons
            option(value= patron.id)= patron.first_name + ' ' + patron.last_name

      p.form-group
        label(for='loaned_on') Loaned on:
        input#loaned_on.form-control(type='text', name='loaned_on', value= loanDate, required='')
      p.form-group
        label(for='return_by', required='') Return by:
        input#return_by.form-control(type='text', name='return_by', value= returnDate, required='')
      p.form-group
        input.btn.btn-success.btn-sm(type='submit', value='Create New Loan')
