extends layout.pug

block content
  body
    h2.mt-3.mb-3 Overdue Books
    p.float-right
      a.btn.btn-success.btn-sm(href='/books/new') Create New Book
    p
      | Filters 
      a.btn.btn-outline-success.btn-sm(href='/books') All
      |  
      a.btn.btn-outline-success.btn-sm(href='/books/overdue') Overdue
      |  
      a.btn.btn-outline-success.btn-sm(href='/books/checked_out') Checked Out
    table.table.table-striped.table-bordered.table-hover.table-sm
      thead.bg-info.text-white
        tr
          th Title
          th Author
          th Genre
          th Year Released
      tbody
        each book in books
          tr
            td
              a.small.text-success.align-middle(href='/books/' + book.id)= book.title
            td= book.author
            td= book.genre
            td= book.first_published

