extends layout.pug

block content
  body
    h2.mt-3.mb-3 Return Book
    p
      strong Book Title: 
      | #{loan.Book.title}
    p
      strong Loaned By: 
      | #{loan.Patron.first_name + ' ' + loan.Patron.last_name}
    p
      strong Loaned On: 
      | #{loan.loaned_on}
    p
      strong Return By: 
      | #{loan.return_by}
    form.was-validated(action="/loans/" + loan.id, method='post')
      p.form-group
        label(for='returned_on') Returned on:
        input#returned_on.form-control(type='text', name='returned_on' value= returnDay, required='')
      p
        input.btn.btn-success(type='submit', value='Return Book')
